<section id="container" class="">


  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
          class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="index.html" class="logo">ZOL<span class="lite">CSR</span></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu">
      <!--  search form start -->
      <!-- <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul> -->
      <!--  search form end -->
    </div>

    <div class="top-nav notification-row">
      <!-- notificatoin dropdown start-->
      <ul class="nav pull-right top-menu">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">

            <span class="username">Log out</span>
            <b class="caret"></b>
          </a>
        </li>
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="admin-home">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="agent/callList" class="">
            <i class="icon_document_alt"></i>
            <span> New Ratings</span>
            <span class="menu-arrow arrow_carrot-right"></span>
          </a>
          <ul class="sub">
            <li><a class="" href="form_component.html">Form Elements</a></li>
            <li><a class="" href="form_validation.html">Form Validation</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="agent/home" class="">
            <i class="icon_desktop"></i>
            <span>My Report</span>
            <span class="menu-arrow arrow_carrot-right"></span>
          </a>
          <ul class="sub">
            <li><a class="" href="general.html">Elements</a></li>
            <li><a class="" href="buttons.html">Buttons</a></li>
            <li><a class="" href="grids.html">Grids</a></li>
          </ul>
        </li>




      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!--overview start-->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="admin-home">Home</a></li>
            <li><i class="fa fa-laptop"></i>Dashboard</li>
          </ol>
        </div>
      </div>




      <!-- Today status end -->



      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong> New Ratings</strong></h2>
              <div class="panel-actions">
                <a href="index.html#" class="btn-setting"><i class="fa
                      fa-rotate-right"></i></a>
                <a href="index.html#" class="btn-minimize"><i class="fa
                      fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <audio class="col-lg-12 col-md-12" controls>
                <source src="{{callData.filepath}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <hr>
              <form [formGroup]="form">


                <table class="table bootstrap-datatable countries">

                  <thead>
                    <tr>
                      <th width="74%">PROCESS ADHERENCE</th>
                      <th width="4%">1</th>
                      <th width="4%">2</th>
                      <th width="4%">3</th>
                      <th width="4%">4</th>
                      <th width="4%">5</th>
                      <th width="4%">{{(grouptotal/3).toFixed(2)}}%</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td>Proper use of corporate greeting, scripts and grammar</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionOne($event.target.value)"
                          formControlName="questionOne" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionOne($event.target.value)"
                          formControlName="questionOne" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionOne($event.target.value)"
                          formControlName="questionOne" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionOne($event.target.value)"
                          formControlName="questionOne" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionOne($event.target.value)"
                          formControlName="questionOne" /></td>



                    </tr>
                    <tr>

                      <td>Verified account details</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionTwo($event.target.value)"
                          formControlName="questionTwo" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionTwo($event.target.value)"
                          formControlName="questionTwo" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionTwo($event.target.value)"
                          formControlName="questionTwo" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionTwo($event.target.value)"
                          formControlName="questionTwo" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionTwo($event.target.value)"
                          formControlName="questionTwo" /></td>
                      <td></td>
                    </tr>
                    <tr>

                      <td>Correctly created ticket</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionThree($event.target.value)"
                          formControlName="questionThree" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionThree($event.target.value)"
                          formControlName="questionThree" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionThree($event.target.value)"
                          formControlName="questionThree" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionThree($event.target.value)"
                          formControlName="questionThree" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionThree($event.target.value)"
                          formControlName="questionThree" /></td>

                      <td></td>
                    </tr>
                    <tr>

                      <td>Informed client of their incident number</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionFour($event.target.value)"
                          formControlName="questionFour" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionFour($event.target.value)"
                          formControlName="questionFour" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionFour($event.target.value)"
                          formControlName="questionFour" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionFour($event.target.value)"
                          formControlName="questionFour" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionFour($event.target.value)"
                          formControlName="questionFour" /></td>

                      <td></td>
                    </tr>
                    <tr>

                      <td>Checked for any other problems</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionFive($event.target.value)"
                          formControlName="questionFive" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionFive($event.target.value)"
                          formControlName="questionFive" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionFive($event.target.value)"
                          formControlName="questionFive" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionFive($event.target.value)"
                          formControlName="questionFive" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionFive($event.target.value)"
                          formControlName="questionFive" /></td>

                      <td></td>
                    </tr>
                    <tr>
                      <td>Closed call correctly</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionSix($event.target.value)"
                          formControlName="questionSix" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionSix($event.target.value)"
                          formControlName="questionSix" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionSix($event.target.value)"
                          formControlName="questionSix" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionSix($event.target.value)"
                          formControlName="questionSix" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionSix($event.target.value)"
                          formControlName="questionSix" /></td>

                      <td></td>


                    <tr>
                      <th width="74%">KNOWLEDGE</th>
                      <th width="4%">1</th>
                      <th width="4%">2</th>
                      <th width="4%">3</th>
                      <th width="4%">4</th>
                      <th width="4%">5</th>
                      <th width="4%">{{(groupTwototal/3).toFixed(2)}}%</th>
                    </tr>

                    <tr>

                      <td>Clarified purpose of call</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionSeven($event.target.value)"
                          formControlName="questionSeven" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionSeven($event.target.value)"
                          formControlName="questionSeven" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionSeven($event.target.value)"
                          formControlName="questionSeven" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionSeven($event.target.value)"
                          formControlName="questionSeven" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionSeven($event.target.value)"
                          formControlName="questionSeven" /></td>
                      <td></td>
                    </tr>
                    <tr>

                      <td>Asked fact finding questions (problem resolution)</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionEight($event.target.value)"
                          formControlName="questionEight" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionEight($event.target.value)"
                          formControlName="questionEight" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionEight($event.target.value)"
                          formControlName="questionEight" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionEight($event.target.value)"
                          formControlName="questionEight" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionEight($event.target.value)"
                          formControlName="questionEight" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Matched best option to identfied need</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionNine($event.target.value)"
                          formControlName="questionNine" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionNine($event.target.value)"
                          formControlName="questionNine" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionNine($event.target.value)"
                          formControlName="questionNine" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionNine($event.target.value)"
                          formControlName="questionNine" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionNine($event.target.value)"
                          formControlName="questionNine" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Explained delivery schedule (action plan)</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionTen($event.target.value)"
                          formControlName="questionTen" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionTen($event.target.value)"
                          formControlName="questionTen" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionTen($event.target.value)"
                          formControlName="questionTen" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionTen($event.target.value)"
                          formControlName="questionTen" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionTen($event.target.value)"
                          formControlName="questionTen" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Followed resolution procedure</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionEleven($event.target.value)"
                          formControlName="questionEleven" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionEleven($event.target.value)"
                          formControlName="questionEleven" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionEleven($event.target.value)"
                          formControlName="questionEleven" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionEleven($event.target.value)"
                          formControlName="questionEleven" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionEleven($event.target.value)"
                          formControlName="questionEleven" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Provided accurate information</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionTwelve($event.target.value)"
                          formControlName="questionTwelve" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionTwelve($event.target.value)"
                          formControlName="questionTwelve" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionTwelve($event.target.value)"
                          formControlName="questionTwelve" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionTwelve($event.target.value)"
                          formControlName="questionTwelve" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionTwelve($event.target.value)"
                          formControlName="questionTwelve" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>First call resolution</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionThetne($event.target.value)"
                          formControlName="questionThetne" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionThetne($event.target.value)"
                          formControlName="questionThetne" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionThetne($event.target.value)"
                          formControlName="questionThetne" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionThetne($event.target.value)"
                          formControlName="questionThetne" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionThetne($event.target.value)"
                          formControlName="questionThetne" /></td>
                      <td></td>
                    </tr>

                    <tr>
                      <th width="74%">ATTITUDE</th>
                      <th width="4%">1</th>
                      <th width="4%">2</th>
                      <th width="4%">3</th>
                      <th width="4%">4</th>
                      <th width="4%">5</th>
                      <th width="4%">{{(groupThreetotal/3).toFixed(2)}}%</th>
                    </tr>

                    <tr>

                      <td>Courtesy and Professionalism</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionFortin($event.target.value)"
                          formControlName="questionFortin" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionFortin($event.target.value)"
                          formControlName="questionFortin" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionFortin($event.target.value)"
                          formControlName="questionFortin" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionFortin($event.target.value)"
                          formControlName="questionFortin" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionFortin($event.target.value)"
                          formControlName="questionFortin" /></td>
                      <td></td>
                    </tr>
                    <tr>

                      <td>Courtesy and Professionalism</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionFiftn($event.target.value)"
                          formControlName="questionFiftn" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionFiftn($event.target.value)"
                          formControlName="questionFiftn" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionFiftn($event.target.value)"
                          formControlName="questionFiftn" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionFiftn($event.target.value)"
                          formControlName="questionFiftn" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionFiftn($event.target.value)"
                          formControlName="questionFiftn" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Courtesy and Professionalism</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionSixtn($event.target.value)"
                          formControlName="questionSixtn" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionSixtn($event.target.value)"
                          formControlName="questionSixtn" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionSixtn($event.target.value)"
                          formControlName="questionSixtn" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionSixtn($event.target.value)"
                          formControlName="questionSixtn" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionSixtn($event.target.value)"
                          formControlName="questionSixtn" /></td>
                      <td></td>
                    </tr>

                    <tr>

                      <td>Courtesy and Professionalism</td>
                      <td><input type="radio" value="1" (change)="onItemChangeQuestionSentn($event.target.value)"
                          formControlName="questionSentn" /></td>
                      <td><input type="radio" value="2" (change)="onItemChangeQuestionSentn($event.target.value)"
                          formControlName="questionSentn" /></td>
                      <td><input type="radio" value="3" (change)="onItemChangeQuestionSentn($event.target.value)"
                          formControlName="questionSentn" /></td>
                      <td><input type="radio" value="4" (change)="onItemChangeQuestionSentn($event.target.value)"
                          formControlName="questionSentn" /></td>
                      <td><input type="radio" value="5" (change)="onItemChangeQuestionSentn($event.target.value)"
                          formControlName="questionSentn" /></td>
                      <td></td>
                    </tr>

                  </tbody>
                </table>
                <input type="button"  (click)="sendRatings()" value='Rate with {{((grouptotal/3)+(groupTwototal/3)+(groupThreetotal/3)).toFixed(2)}}' class="btn btn-bg btn-primary pull-right" />
              </form>
            </div>

          </div>

        </div>


      </div>

      <!-- statics end -->


    </section>
    <div class="text-right">

    </div>
  </section>
  <!--main content end-->
</section>