<section id="container" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                    class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Blantina <span class="lite">ZOL</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <!-- <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul> -->
            <!--  search form end -->
        </div>

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="username">Log out</span>
                        <b class="caret"></b>
                    </a>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="admin-home">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="admin/add" class="">
                        <i class="icon_document_alt"></i>
                        <span>Add New</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="admin/home" class="">
                        <i class="icon_desktop"></i>
                        <span>Reports</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>

                </li>
                <li>
                    <a class="" href="admin/users">
                        <i class="icon_genius"></i>
                        <span>Users</span>
                    </a>
                </li>
                <!--  <li>
              <a class="" href="chart-chartjs.html">
                <i class="icon_piechart"></i>
                <span>Charts</span>
    
              </a>
    
            </li> -->



            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="admin-home">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>
                    </ol>
                </div>
            </div>




            <!-- Today status end -->



            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-flag-o red"></i><strong> Users</strong></h2>
                            <a href="index.html#" class="btn-primary pull-right">Add New User</a>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Add new Forms
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">

                                                <div class="row">
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputEmail1">Username</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            placeholder="Username">
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputPassword1">First Name</label>
                                                        <input type="text" class="form-control"
                                                            id="exampleInputPassword1" placeholder="First Name">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputPassword1">Last Name</label>
                                                        <input type="text" class="form-control"
                                                            id="exampleInputPassword1" placeholder="Last Name">
                                                    </div>

                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputPassword1">Email</label>
                                                        <input type="email" class="form-control"
                                                            id="exampleInputPassword1" placeholder="Email">
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputPassword1">Password</label>
                                                        <input type="password" class="form-control"
                                                            id="exampleInputPassword1" placeholder="password">
                                                    </div>

                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputPassword1">User Role</label>
                                                        <select id="roles" class="form-control">
                                                            <option>Select User Role</option>
                                                            <option value="agent">Agent</option>
                                                            <option value="admin">Admin</option>
                                                            </select>
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>

                                        </div>
                                    </section>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>



            <!-- statics end -->


        </section>
        <div class="text-right">

        </div>
    </section>
    <!--main content end-->
</section>