<section id="container" class="">


  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation"
        data-placement="bottom"><i class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="index.html" class="logo">Blantina <span class="lite">ZOL</span></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu">
      <!--  search form start -->
      <!-- <ul class="nav top-menu">
          <li>
            <form class="navbar-form">
              <input class="form-control" placeholder="Search" type="text">
            </form>
          </li>
        </ul> -->
      <!--  search form end -->
    </div>

    <div class="top-nav notification-row">
      <!-- notificatoin dropdown start-->
      <ul class="nav pull-right top-menu">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            
            <span class="username">Log out</span>
            <b class="caret"></b>
          </a>
        </li>
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="admin-home">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="admin/add" class="">
            <i class="icon_document_alt"></i>
            <span>Add New</span>
            <span class="menu-arrow arrow_carrot-right"></span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="admin/home" class="">
            <i class="icon_desktop"></i>
            <span>Reports</span>
            <span class="menu-arrow arrow_carrot-right"></span>
          </a>
          
        </li>
        <li>
          <a class="" href="admin/users">
            <i class="icon_genius"></i>
            <span>Users</span>
          </a>
        </li>
       <!--  <li>
          <a class="" href="chart-chartjs.html">
            <i class="icon_piechart"></i>
            <span>Charts</span>

          </a>

        </li> -->



      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!--overview start-->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="admin-home">Home</a></li>
            <li><i class="fa fa-laptop"></i>Dashboard</li>
          </ol>
        </div>
      </div>




      <!-- Today status end -->



      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong> Reports</strong></h2>
              <div class="panel-actions">
                <a href="index.html#" class="btn-setting"><i class="fa
                    fa-rotate-right"></i></a>
                <a href="index.html#" class="btn-minimize"><i class="fa
                    fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable countries">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                     <th>Calls</th>
                    <th>Section</th>
                    <th>Performance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="img/Germany.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Nyasha T</td>
                    <td>2563</td>
                    <td>OutBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="73"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          73%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="27"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          27%">
                        </div>
                      </div>
                      <span class="sr-only">73%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/India.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Sadra S</td>
                    <td>3652</td>
                    <td>InBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="57"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          57%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="43"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          43%">
                        </div>
                      </div>
                      <span class="sr-only">57%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/Spain.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Vongai Z</td>
                    <td>562</td>
                    <td>OutBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="93"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          93%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="7" aria-valuemin="0"
                          aria-valuemax="100" style="width: 7%">
                        </div>
                      </div>
                      <span class="sr-only">93%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/India.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Wesly M</td>
                    <td>1258</td>
                    <td>InBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          20%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          80%">
                        </div>
                      </div>
                      <span class="sr-only">20%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/Spain.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Brain D</td>
                    <td>4856</td>
                    <td>OutBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          20%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          80%">
                        </div>
                      </div>
                      <span class="sr-only">20%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/Germany.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Alpha W</td>
                    <td>265</td>
                    <td>OutBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          20%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          80%">
                        </div>
                      </div>
                      <span class="sr-only">20%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/Germany.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Costa</td>
                    <td>265</td>
                    <td>InBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          20%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          80%">
                        </div>
                      </div>
                      <span class="sr-only">20%</span>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="img/Germany.png" style="height:18px;
                        margin-top:-2px;"></td>
                    <td>Frances</td>
                    <td>265</td>
                    <td>OutBound calls</td>
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger"
                          role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          20%">
                        </div>
                        <div class="progress-bar progress-bar-warning"
                          role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width:
                          80%">
                        </div>
                      </div>
                      <span class="sr-only">20%</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>


      </div>



      <!-- statics end -->


    </section>
    <div class="text-right">

    </div>
  </section>
  <!--main content end-->
</section>